body{
    border-radius: 20px;
    background-color: rgb(139, 139, 155);
    text color:#fffff;
    border :none;
    padding: 20px;
    
}
.container{
display: flex;
gap: 20px;
border-radius: 20px;
border:none;
align-self: center;
padding: 20px;

}
.messi{
   size: 10%;

}